html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: mediumaquamarine;
    font-family: 'ubuntu', sans-serif;
    color: #0F4C5C;
}

.title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
    color: #0F4C5C;
    text-align: center;
}

.patterns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pattern-group {
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
}

.board {
    clear: both;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: seagreen;
    box-shadow: 3px 3px 10px 8px rgba(0,0,0,0.3);
}

.cell {
    width: 10px;
    height: 10px;
    float: left;
    background-color: seagreen;
}

.cell--active {
    background-color: #0F4C5C;
}

.footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    color: #ddd;
    background-color: #37323E;
    text-align: center;
}

.footer__link {
    color: #ddd;
}

.footer__link:hover {
    color: #999;
}